@{
    ViewBag.Title = "Home Page";
}

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="~/JavaScript/Lessons.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="jumbotron">
    <h1 class="display-3">Lesson Manager</h1>
    <p class="lead">
        Αποτελεί μια πλατφόρμα διαχείρισης μαθημάτων και βαθμολογιών του πανεπιστημίου Αιγαίου,
        φαίρνοντας πιο κοντά διδάσκοντες και σπουδαστές
    </p>
    <p><a class="btn btn-lg btn-success" href="/user/register" role="button">Είστε φοιτητής η διδάσκοντας <b>Εγγραφείτε !</b></a></p>
    <!-- Button trigger modal -->
    <a class="btn btn-lg btn-primary" href="/user/login" role="button">
        Σύνδεση στην πλατφόρμα
    </a>
</div>

<div class="row marketing">
    <p>Παρακάτω εμφανίζονται μερικά απο τα μαθήματα που διδάσκονται στο πανεπιστήμιο αιγαίου</p>
    <table id="lessons_table2" class="display mt-2">
        <thead>
            <tr>
                <th>Id</th>
                <th>Όνομα</th>
                <th>Περιγραφή</th>
            </tr>
        </thead>
    </table>
</div>