
.custom-control { padding-right: 1.5rem; }

.custom-control + .custom-control { margin-right: 1rem; }

.custom-control-indicator { right: 0; }

.custom-controls-stacked .custom-control + .custom-control { margin-right: 0; }

.custom-select { padding-left: 0.75rem \9; }

.nav { padding-right: 0; }



.nav-tabs .nav-item + .nav-item { margin-right: 0.2rem; }



.nav-pills .nav-item + .nav-item { margin-right: 0.2rem; }

.nav-stacked .nav-item + .nav-item { margin-right: 0; }







.navbar-nav .nav-link + .nav-link { margin-right: 1rem; }

.navbar-nav .nav-item + .nav-item { margin-right: 1rem; }

@media (max-width: 543px) {
    .navbar-toggleable .navbar-nav .nav-item { margin-right: 0; }
}

@media (max-width: 767px) {
    .navbar-toggleable-sm .navbar-nav .nav-item { margin-right: 0; }
}

@media (max-width: 991px) {
    .navbar-toggleable-md .navbar-nav .nav-item { margin-right: 0; }
}

.card-link + .card-link { margin-right: 1.25rem; }

.card-blockquote { border-right: 0; }

.breadcrumb-item { float: right; }

.pagination { padding-right: 0; }

.page-item:first-child .page-link { margin-right: 0; }

.page-link { margin-right: -1px; }

.alert-dismissible { padding-left: 2rem; }

.alert-dismissible .close { left: -1rem; }

.media-list { padding-right: 0; }

.list-group { padding-right: 0; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video { right: 0; }

.close { float: left; }

.tooltip { text-align: right; }

.tooltip.tooltip-top .tooltip-arrow,
.tooltip.bs-tether-element-attached-bottom .tooltip-arrow {
    margin-right: -5px;
    right: 50%;
}

.tooltip.tooltip-bottom .tooltip-arrow,
.tooltip.bs-tether-element-attached-top .tooltip-arrow {
    margin-right: -5px;
    right: 50%;
}

.popover {
    right: 0;
    text-align: right;
}

.popover.popover-top .popover-arrow,
.popover.bs-tether-element-attached-bottom .popover-arrow {
    margin-right: -11px;
    right: 50%;
}

.popover.popover-top .popover-arrow::after,
.popover.bs-tether-element-attached-bottom .popover-arrow::after { margin-right: -10px; }

.popover.popover-bottom .popover-arrow,
.popover.bs-tether-element-attached-top .popover-arrow {
    margin-right: -11px;
    right: 50%;
}

.popover.popover-bottom .popover-arrow::after,
.popover.bs-tether-element-attached-top .popover-arrow::after { margin-right: -10px; }

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-inner > .carousel-item.next,
    .carousel-inner > .carousel-item.active.right { right: 0; }

    .carousel-inner > .carousel-item.prev,
    .carousel-inner > .carousel-item.active.left { right: 0; }

    .carousel-inner > .carousel-item.next.left,
    .carousel-inner > .carousel-item.prev.right,
    .carousel-inner > .carousel-item.active { right: 0; }
}

.carousel-inner > .active { right: 0; }

.carousel-inner > .next { right: 100%; }

.carousel-inner > .prev { right: -100%; }

.carousel-inner > .next.left,
.carousel-inner > .prev.right { right: 0; }

.carousel-inner > .active.left { right: -100%; }

.carousel-inner > .active.right { right: 100%; }

/*.carousel-control {
  right: 0;
}

.carousel-control.right {
  left: 0;
  right: auto;
}*/

.carousel-control .icon-prev {
    margin-right: -10px;
    right: 50%;
}

.carousel-control .icon-next {
    left: 50%;
    margin-left: -10px;
}

.carousel-indicators {
    margin-right: -30%;
    padding-right: 0;
    right: 50%;
}

.carousel-caption {
    left: 15%;
    right: 15%;
    z-index: 10;
}

@media (min-width: 544px) {
    .carousel-control .icon-prev { margin-right: -15px; }

    .carousel-control .icon-next { margin-left: -15px; }

    .carousel-caption {
        left: 20%;
        right: 20%;
    }
}



/*!
 * Start Bootstrap - Simple Sidebar (https://startbootstrap.com/template-overviews/simple-sidebar)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-simple-sidebar/blob/master/LICENSE)
 */

body { overflow-x: hidden; }

#wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled { padding-right: 250px; }

#sidebar-wrapper {
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    background: #000;
    height: 100%;
    left: 250px;
    overflow-y: auto;
    position: fixed;
    transition: all 0.5s ease;
    width: 0;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper { width: 250px; }

#page-content-wrapper {
    padding: 15px;
    position: absolute;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: 0px;
    position: absolute;
}


/* Sidebar Styles */

.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 250px;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    text-decoration: none;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus { text-decoration: none; }

.sidebar-nav > .sidebar-brand {
    font-size: 18px;
    height: 65px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a { color: #999999; }

.sidebar-nav > .sidebar-brand a:hover {
    background: none;
    color: #fff;
}

@media (min-width: 768px) {
    #wrapper { padding-left: 0; }

    #wrapper.toggled { padding-left: 250px; }

    #sidebar-wrapper {
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
        background: #000;
        height: 100%;
        left: 250px;
        margin-left: -250px;
        margin-right: -250px;
        overflow-y: auto;
        position: fixed;
        transition: all 0.5s ease;
        width: 0;
        z-index: 1000;
    }

    #wrapper.toggled #sidebar-wrapper { width: 250px; }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        margin-right: 0;
        position: relative;
    }
}


.register {
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
    margin-top: 3%;
    padding: 3%;
}

.register-left {
    text-align: center;
    color: #fff;
    margin-top: 4%;
}

    .register-left input {
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        width: 60%;
        background: #f8f9fa;
        font-weight: bold;
        color: #383d41;
        margin-top: 30%;
        margin-bottom: 3%;
        cursor: pointer;
    }

.register-right {
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}

.register-left img {
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-20px);
    }
}

.register-left p {
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}

.register .register-form {
    padding: 10%;
    margin-top: 10%;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register .nav-tabs {
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}

    .register .nav-tabs .nav-link {
        padding: 2%;
        height: 34px;
        font-weight: 600;
        color: #fff;
        border-top-right-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
    }

        .register .nav-tabs .nav-link:hover {
            border: none;
        }

        .register .nav-tabs .nav-link.active {
            width: 100px;
            color: #0062cc;
            border: 2px solid #0062cc;
            border-top-left-radius: 1.5rem;
            border-bottom-left-radius: 1.5rem;
        }

.register-heading {
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: 300px;
    margin-bottom: auto;
    background: #F6F7F8;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}

.brand_logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #071E4F !important;
    color: white !important;
}

    .login_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #c0392b !important;
}